*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:Arial, Helvetica, sans-serif;
  background:#020817;
  color:white;
  overflow-x:hidden;
}

a{
  text-decoration:none;
  color:inherit;
}

ul{
  list-style:none;
}

img{
  width:100%;
  display:block;
}

section{
  padding:100px 8%;
}

.container{
  max-width:1200px;
  margin:auto;
}

.title{
  font-size:48px;
  text-align:center;
  margin-bottom:20px;
}

.subtitle{
  text-align:center;
  color:#94a3b8;
  margin-bottom:60px;
  line-height:1.7;
}

@media(max-width:768px){

  section{
    padding:80px 5%;
  }

  .title{
    font-size:34px;
  }

}