:root {

  --primary-color: #0d6efd;

  --secondary-color: #00bfff;

  --background-color: #020817;

  --card-color: #0f172a;

  --white-card: #ffffff;

  --text-color: #ffffff;

  --text-dark: #111827;

  --text-secondary: #cbd5e1;

  --border-color: rgba(255,255,255,0.08);

  --gradient-blue:
    linear-gradient(
      135deg,
      #0d6efd,
      #00bfff
    );

  --shadow:
    0 10px 30px rgba(0,0,0,0.4);

  --transition: 0.3s ease;

  --radius: 18px;

}